@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
}

body{
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}


/* Tailwind-compatible class */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
